@model IEnumerable<Breakfast.Site.Models.ViewModels.MemberDetailVm>

@{
    ViewBag.Title = "MemberDetails";
}

<h2>MemberDetails</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>會員名稱</th>
        <th>電子郵件</th>
        <th>電話</th>
        <th>點數</th>
        <th>註冊日</th>
    </tr>


    @foreach (var member in Model)
    {
        <tr>
            <td>@member.MemberName</td>
            <td>@member.Email</td>
            <td>@member.Phone</td>
            <td>@member.Point</td>
            <td>@member.RegisterDate</td>
        </tr>
    }

</table>
